<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aibees.service.maria.accountbook.entity.mapper.AccountCardInfoMapper">

    <resultMap id="cardInfoStatementMapping" type="com.aibees.service.maria.account.domain.entity.card.CardInfoStatement">
        <result column="card_no" property="cardNo" />
        <result column="payway" property="payway" />
        <result column="card_name" property="cardName" />
        <result column="bankcd" property="bankCd" />
        <result column="deadline_date" property="deadlineDate" />
        <result column="payment_date" property="paymentDate" />
        <result column="expired_ym" property="expiredYm" />
        <result column="credit_yn" property="creditYn" />
        <result column="use_yn" property="useYn" />
        <result column="company" property="company" />
        <result column="limit_amt" property="limitAmt" />
        <result column="selected_main" property="selectedMain" />
    </resultMap>

    <select id="selectCardInfoListByCondition" parameterType="java.util.Map" resultMap="cardInfoStatementMapping">
        select aci.card_no
              ,aci.card_name
              ,aci.bankcd
              ,aci.deadline_date
              ,aci.payment_date
              ,aci.expired_ym
              ,aci.credit_yn
              ,aci.use_yn
              ,aci.company
              ,aci.limit_amt
              ,aci.selected_main
          from account_card_info aci
         where 1=1
    </select>

    <select id="selectCardInfoByCondition" parameterType="java.util.Map" resultMap="cardInfoStatementMapping">
        select aci.card_no
              ,aci.card_name
              ,aci.bankcd
              ,aci.deadline_date
              ,aci.payment_date
              ,aci.expired_ym
              ,aci.credit_yn
              ,aci.use_yn
              ,aci.company
              ,aci.limit_amt
              ,aci.selected_main
          from account_card_info aci
         where 1=1
        <if test="cardNo != '' and cardNo != null">
            and aci.card_no like #{cardNo}
        </if>
        <if test="company != '' and company != null">
            and aci.company like concat('%', #{company}, '%')
        </if>
        <if test="cardName != '' and cardName != null">
            and aci.card_name like concat('%', #{cardName}, '%')
        </if>

    </select>

    <update id="updateCardInfoStatement" parameterType="com.aibees.service.maria.account.domain.entity.card.CardInfoStatement">
        update account_card_info aci
           set aci.card_name = #{cardName}
              ,aci.bankcd = #{bankCd}
              ,aci.expired_ym = #{expiredYm}
              ,aci.use_yn = #{useYn}
              ,aci.credit_yn = #{creditYn}
              ,aci.selected_main = #{selectedMain}
              ,aci.limit_amt = #{limitAmt}
              ,aci.company = #{company}
         where aci.card_no = #{cardNo}
    </update>
</mapper>