<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aibees.service.maria.accountbook.entity.mapper.StaticsMapper">

    <select id="selectUsageDoughnutByYm" parameterType="java.lang.String" resultType="java.util.Map">
        select acs.card_no                           as cardNo
             , aci.card_name                         as cardName
             , substr(acs.ymd, 1, 6)                 as ym
             , usage_info.usage_cd                   as usageCd
             , usage_info.usage_nm                   as usageNm
             , usage_info.usage_color                as usageColor
             , sum(amount)                           as sumAmt
          from account_card_statement acs,
               account_card_info aci,
               (select asd.code        as usage_cd
                      ,asd.name        as usage_nm
                      ,asd.attribute03 as usage_color
                  from account_setting_detail asd
                 where asd.header_id = 4
               ) as usage_info
         where acs.card_no = aci.card_no
           and acs.usage   = usage_info.usage_cd
           and substr(acs.ymd, 1, 6) = #{ym}
         group by acs.card_no
                , aci.card_name
                , substr(acs.ymd, 1, 6)
                , usage_info.usage_cd
                , usage_info.usage_nm
                , usage_info.usage_color
    </select>
</mapper>